* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

.nameplate {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(158, 22, 158);
    color: white;
    position: relative;
    top: -20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer {
    background-color: rgb(158, 22, 158);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

footer > * {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.workcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width: 667px) {
    .workcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nameplate {
        color: gold;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}

@media (max-width: 667px) and (orientation: portrait) {
    footer {
        flex-direction: column;
        width: 100px;
        align-items: center;
    }
}

.workcontainer > div {
    max-width: 380px;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 9px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 9px 9px 0 0;
    margin-bottom: 3px;
}

.titles {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
