@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400&family=Rhodium+Libre&family=Slabo+27px&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rhodium Libre", "Slabo 27px", "Fira Sans Condensed", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.nameplate {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  height: 65px;
  width: 100%;
  margin: auto;
  background-color: #e11299;
}

header > * {
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffeaea;
}

main > * {
  margin: auto;
}

.workcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 20px;
  row-gap: 16px;
  column-gap: 20px;
}

.workcontainer > div {
  max-width: 380px;
  max-height: 450px;
  overflow-y: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: none;
}

.workcontainer > div > * {
  margin: auto;
}

img {
  width: 100%;
  height: auto;
  border-radius: 9px 9px 0 0;
  margin-bottom: 3px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.titles > p {
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #9a208c;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

footer > * {
  margin-right: 20px;
  margin: auto;
}

a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .workcontainer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  footer {
    flex-direction: column;
    height: auto;
  }

  footer > * {
    margin-bottom: 6px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .workcontainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
